.scoreboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    font-size: 1.5rem;
    width: 20rem;
    margin: 3rem auto;
    box-shadow: 0px 0px 8px #888;
    border-radius: 0.5rem;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
}
.score{
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}
.x-score{
    color: rgb(171, 30, 30);
    border-bottom: 5px solid;
    border-radius: 0.5rem 0 0 0.5rem;
}
.o-score{
    color: rgb(89, 30, 171);
    border-bottom: 5px solid;
    border-radius:  0 0.5rem 0.5rem 0;
}
.inactive{
    border-bottom: 5px solid transparent;
}